/* Fonts */
/* Freckle Face */
@font-face {
  font-family: FreckleFace-Regular;
  src: url(../assets/fonts/FreckleFace-Regular.ttf);
}

.FreckleFace-Regular {
  font-family: FreckleFace-Regular, sans-serif;
}
